{{extend 'layout.html'}}
<style>

.home-top[data-v-ae30d5d0] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px 0 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.pg-top {
    background: #fafafc;
    height: 52px;
    width: 100%;
    position: relative;
}
.pg-top {
    background: #fafafc;
    height: 50px;
    width: 100%;
    position: relative;
}
.h1jak{
    color: #4179f8;
    font-size: 24px;
    font-weight: bolder;
}
</style>
{{#block header}}
<link rel="stylesheet" href="{{=URL('static','css/hmc_home.css')}}"/>
  <uni-page data-page="pages/index/my">
    <!---->
    <!---->
    <uni-page-wrapper>
     
        <uni-page-body>
            <uni-view data-v-ae30d5d0="">
              <uni-view data-v-ae30d5d0="" class="pg-top home-top">
                <img data-v-ae30d5d0="" mode="aspectFit" src="{{=URL('static','heromining/logo3.png')}}" style="height: 25px;">
                <h1 class="h1jak">LoansZilla</h1>
            
                  <!---->
                </uni-view>
              </uni-view>
              <!-- <uni-swiper data-v-ae30d5d0="" class="card-swiper round-dot">
              </uni-swiper> -->

              <!-- HEADER REPORTS -->
              <uni-view data-v-eb3fb7a8="" class="my-card" style="background-color: #82CD47!important">
                <uni-view data-v-eb3fb7a8="" class="card-content">
                  <uni-view data-v-eb3fb7a8="" class="total-assets">
                    <uni-view data-v-eb3fb7a8=""><img data-v-eb3fb7a8="" src="{{=URL('static','heromining/left-point-1.png')}}"><span
                        data-v-eb3fb7a8="" class="tip">Overall Assets</sp n><img data-v-eb3fb7a8=""
                        src="{{=URL('static','heromining/right-point-1.png')}}" ></uni-view>
                    <p data-v-eb3fb7a8="">₱ {{=(tfunds - tsubs)+tloanp}}</p>
                  </uni-view>
                  <p data-v-eb3fb7a8=""
                    style="color: rgb(255, 255, 255); text-align: center; opacity: 0.8; margin-top: 5px;">Your funds are
                    under protection</p>
                  <uni-view data-v-eb3fb7a8="" class="invest-info">
                    <uni-view data-v-eb3fb7a8="">
                      <p data-v-eb3fb7a8="">Borrowed balance(₱)</p>
                      <p data-v-eb3fb7a8="">{{=tsubs}}</p>
                    </uni-view>
                    <uni-view data-v-eb3fb7a8="">
                      <p data-v-eb3fb7a8="">Incoming Assets(₱)</p>
                      <p data-v-eb3fb7a8="">{{=tincom}}</p>
                    </uni-view>
                    <uni-view data-v-eb3fb7a8="">
                      <p data-v-eb3fb7a8="">Loan Payment Assets(₱)</p>
                      <p data-v-eb3fb7a8="">{{=tloanp}}</p>
                    </uni-view>
                  </uni-view>
                
                </uni-view>
              </uni-view>
            </uni-view>
            
               <!-- HEADER REPORTS ALTERNATIVE-->
              <!-- <uni-view data-v-ae30d5d0="" class="container" >
                <uni-view data-v-ae30d5d0="" class="card run-time" style="background: #fafafc;">
                  <h1 data-v-ae30d5d0="">Investment Report</h1>
                  <uni-view data-v-ae30d5d0="" class="run-time-detail">
                    <uni-view data-v-ae30d5d0="">
                      <p data-v-ae30d5d0="" style="color: #0F9D58;">{{=tfunds}}</p>
                      <p data-v-ae30d5d0="">Total Investment</p>
                    </uni-view>
                    <uni-view data-v-ae30d5d0="">
                      <p data-v-ae30d5d0="" style="color: #DB4437;">{{=tsubs}}</p>
                      <p data-v-ae30d5d0="">Money Borrowed</p>
                    </uni-view>
                    <uni-view data-v-ae30d5d0="">
                      <p data-v-ae30d5d0="" style="color: #4285F4;">{{=tfunds - tsubs}}</p>
                      <p data-v-ae30d5d0="">On-hand</p>
                    </uni-view> -->
                    <!-- <uni-view data-v-ae30d5d0="">
                      <p data-v-ae30d5d0="">20</p>
                      <p data-v-ae30d5d0="">Hours</p>
                    </uni-view>
                    <uni-view data-v-ae30d5d0="">
                      <p data-v-ae30d5d0="">7</p>
                      <p data-v-ae30d5d0="">Minutes</p>
                    </uni-view> -->
                  
                  <!-- </uni-view>
                </uni-view> -->

                <uni-view data-v-ae30d5d0="" class="card fun-list">
                  
                  <uni-view data-v-ae30d5d0="" class="fun-item">
                    <a href="{{=URL('reports','allcapital')}}" style="color: inherit;text-decoration: none; ">
                      <img data-v-ae30d5d0="" src="{{=URL('static','heromining/investment.png')}}" style="width: 45px; margin-bottom: 5px;">
                    </a>
                    <uni-text data-v-ae30d5d0=""><span>Investment</span></uni-text>
                  </uni-view> 
                  <uni-view data-v-ae30d5d0="" class="fun-item">
                    <a href="{{=URL('reports','usercommision')}}" style="color: inherit;text-decoration: none; ">
                      <img data-v-ae30d5d0="" src="{{=URL('static','heromining/bonus.png')}}" style="width: 45px; margin-bottom: 5px;">
                    </a>
                    <uni-text data-v-ae30d5d0=""><span>Commision</span></uni-text>
                  </uni-view>
                  <uni-view data-v-ae30d5d0="" class="fun-item">
                    <a href="{{=URL('reports','websitep')}}" style="color: inherit;text-decoration: none; ">
                      <img data-v-ae30d5d0="" src="{{=URL('static','heromining/ows.png')}}" style="width: 45px; margin-bottom: 5px;">
                      </a>
                    <uni-text data-v-ae30d5d0=""><span>Website</span></uni-text>
                  </uni-view>
                  <uni-view data-v-ae30d5d0="" class="fun-item">
                    <a href="{{=URL('reports','noticerep')}}" style="color: inherit;text-decoration: none; ">
                      <img data-v-ae30d5d0="" src="{{=URL('static','heromining/notice.png')}}"  style="width: 45px; margin-bottom: 5px;">
                    </a>
                    <uni-text data-v-ae30d5d0=""><span>Notice</span></uni-text>
                  </uni-view>
                  <uni-view data-v-ae30d5d0="" class="fun-item">
                    <a href="{{=URL('reports','taskrep')}}" style="color: inherit;text-decoration: none; ">
                      <img data-v-ae30d5d0="" src="{{=URL('static','heromining/task.png')}}" style="width: 45px; margin-bottom: 5px;">
                    </a>
                    <uni-text data-v-ae30d5d0=""><span>Task</span></uni-text>
                  </uni-view>
                  <uni-view data-v-ae30d5d0="" class="fun-item">
                    <a href="{{=URL('reports','aboutusp')}}" style="color: inherit;text-decoration: none; ">
                      <img data-v-ae30d5d0="" src="{{=URL('static','heromining/about.png')}}" style="width: 45px; margin-bottom: 5px;">
                    </a>
                    <uni-text data-v-ae30d5d0=""><span>About Us</span></uni-text>
                  </uni-view>
            
                </uni-view>


<!-- LATEST LOAN REPORTS -->
                <uni-view data-v-ae30d5d0="" class="card chart">
                  <uni-view data-v-ae30d5d0="" class="cahrt-title">
                    <span data-v-ae30d5d0="" class="active">Latest Loan</span>
                    <span data-v-ae30d5d0="" class="">Income (₱)</span>
                  </uni-view>

                  <uni-view data-v-146b5f3c="" data-v-ae30d5d0="" class="uni-table-scroll border-none" id="table"
                    style="width: 100%; margin-top: 10px; margin-bottom: 200px;">
                    <table data-v-146b5f3c="" border="0" cellpadding="0" cellspacing="0" class="uni-table" style="min-width: 35px;"
                      width="100%">
                      <tr data-v-32fc5c16="" data-v-ae30d5d0="" class="uni-table-tr">
                        <!---->
                        <th data-v-148eb588="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-th" data-v-32fc5c16=""
                          style="width: 5px; text-align: left;">
                          <uni-view data-v-148eb588="" class="uni-table-th-row">
                            <uni-view data-v-148eb588="" class="uni-table-th-content" style="justify-content: flex-start;">Ref#
                              <!---->
                            </uni-view>
                            <!---->
                          </uni-view>
                        </th>
                        <th data-v-148eb588="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-th" data-v-32fc5c16=""
                          style="width: 10px; text-align: left;">
                          <uni-view data-v-148eb588="" class="uni-table-th-row">
                            <uni-view data-v-148eb588="" class="uni-table-th-content" style="justify-content: flex-start;">Borrower
                            </uni-view>
                          </uni-view>
                        </th>

                        <th data-v-148eb588="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-th" data-v-32fc5c16=""
                          style="width: 10px; text-align: left;">
                          <uni-view data-v-148eb588="" class="uni-table-th-row">
                            <uni-view data-v-148eb588="" class="uni-table-th-content" style="justify-content: flex-start;text-align: center;">
                              Status
                            </uni-view>
                          </uni-view>
                        </th>

                        <th data-v-148eb588="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-th" data-v-32fc5c16=""
                          style="width: 10px; text-align: left;">
                          <uni-view data-v-148eb588="" class="uni-table-th-row">
                            <uni-view data-v-148eb588="" class="uni-table-th-content" style="justify-content: flex-start;text-align: right;">
                              Amount
                            </uni-view>
                          </uni-view>
                        </th>
                      
                      </tr>
                      {{for x in latloan_view:}}
                      <tr data-v-32fc5c16="" data-v-ae30d5d0="" class="uni-table-tr">
                        <td data-v-ba60828c="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-td" data-v-32fc5c16=""style="text-align: left;">
                          LID-{{=x.id}}
                        </td>
                        <td data-v-ba60828c="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-td" data-v-32fc5c16="" style="text-align: left; display: flex; align-items: center;">
                          <!-- <img data-v-ae30d5d0="" data-v-ba60828c="" src="{{=URL('static','heromining/btc.png')}}" style="width: 30px; margin-right: 5px;"> -->
                          <span data-v-ae30d5d0="" data-v-ba60828c="">
                          {{=x.lt_borrower.bt_firstname}} {{=x.lt_borrower.bt_lastname}}
                          </span>
                        </td>
                        <td data-v-ba60828c="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-td" data-v-32fc5c16=""style="text-align: center;">
                          {{=x.lt_status}}
                        </td>
                        <td data-v-ba60828c="" data-v-ae30d5d0="" rowspan="1" colspan="1" class="uni-table-td" data-v-32fc5c16=""style="text-align: right;">
                          ₱ {{=x.lt_amount}}
                        </td>
                        
                      </tr>
                      {{pass}}

                      </tr>
                
                    </table>
                  </uni-view>



                </uni-view>
               
              </uni-view>
            </uni-view>
          </uni-page-body>











    </uni-page-wrapper>
  </uni-page>
  


