{{extend 'layout.html'}}

{{#block header}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
<style>
    .back-title[data-v-dffecdd8] {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      background: #fff;
      color: #4179f8;
      font-size: 20px;
      font-weight: 600;
      z-index: 100;
  }
  .back-title>a[data-v-dffecdd8] {
      position: absolute;
      left: 20px;
      top:16px;
      width: 10px;
      height: 10px;
      align-items: center;
  }
  .h1jak{
      color: #4179f8;
      font-size: 24px;
      font-weight: bolder;
  }

  .web2py_grid table {
    width: 100%;
    font-size: 8.5px;
    line-height: 12px;
    }
    .web2py_grid thead th, .web2py_grid tfoot td {
    background-color: #EAEAEA;
    padding: 0px 0px;
    }
    .web2py_grid tbody td {
    vertical-align: middle;
    padding: 0px 0px;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.web2py_console .form-control {
    width: 20%;
    display: inline;
    height: 16px;
}

.web2py_console input, .web2py_console select, .web2py_console a {
    margin: 0px;
    padding: 0px 0px;
}
.web2py_search_actions a, .web2py_console input[type=submit], .web2py_console input[type=button], .web2py_console button {
    padding: 0px 0px;
}
.jakvbut {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    border-radius: 22px;
    background: #4179f8;
    height: 45px;
    padding: 0 40px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 0px 1px 8px 0px rgb(41 89 198 / 47%);
    margin: 0 10px 0 0;
    width: 105px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
}
  </style>


  <uni-page data-page="pages/index/my">
    <!---->
    <!---->
    <uni-page-wrapper>
      <uni-page-body>
        <uni-view data-v-253ef2cc="">
            <uni-view data-v-dffecdd8="" data-v-253ef2cc="" class="back-title">
              <a data-v-dffecdd8="" href="{{=URL('apploan','loanlist')}}">
                  <img data-v-dffecdd8="" src="{{=URL('static','heromining/ljoin.png')}}" style="height: 12px;justify-content: left!important;">
              </a>
              LOAN RELEASE CONFIRMATION
            </uni-view>
            {{#=BEAUTIFY(response._vars)}}
            <uni-view data-v-f294a038="" class="card">
                <h1>LOAN INFORMATION</h1>
                {{for x in loan_view2:}}
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);"><b>Loan Reference # :  {{=x.id}}</b></p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Loan Amount :  {{=x.lt_amount}}</p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Loan Approve :  {{=x.lt_amountapprove}}</p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Interest Amount :  {{=x.lt_interestamount}}</p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);"><b>Amount Release :  {{=x.lt_amountrelease}}</b></p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);"><b>Borrower :  {{=x.lt_borrower.bt_firstname}} {{=x.lt_borrower.bt_lastname}}</b></p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Comaker :  {{=x.lt_comker.first_name}} {{=x.lt_comker.last_name}}</p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Loan Status :  {{=x.lt_status}}</p>
               
                {{pass}}
                <hr>
                <h1>LOAN PAYMENT</h1>
                {{for x in loanpay_view:}}
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Loan Payment :  {{=x.lp_amount}}</p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Date Paid :  {{=x.lp_datepaid}}</p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);">Gcash Reference :  {{=x.lp_gcashreference}}</p>
                <p data-v-57cd5bd5="" style="color: rgb(231, 142, 0);"><b>Processed By :  {{=x.lp_processby.first_name}} {{=x.lp_processby.last_name}}</b></p>
                
                <hr>
                {{pass}}


                <center>
                <a href="{{=URL('apploan','loanlist')}}" class=" btn jakvbut"  >
                    BACK
                </a>
                </center>
            </uni-view>
      </uni-page-body>
    </uni-page-wrapper>
  </uni-page>
  
<script type="text/javascript">

    function checkForm(form) // Submit button clicked
    {
        //
        // check form input values
        //
    
        form.myButton.disabled = true;
        form.myButton.value = "Please wait...";
        return true;
    }
    
    function resetForm(form) // Reset button clicked
    {
        form.myButton.disabled = false;
        form.myButton.value = "Submit";
    }
    
</script>

<!-- The javascript =============================== -->
<script src="{{=URL('static','js/bootstrap.bundle.min.js')}}"></script>
<script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>